@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	@font-face {
		font-family: 'font-1';
		src: url('/fonts/dm-mono/DMMono-Regular.woff2') format('woff2'),
			url('/fonts/dm-mono/DMMono-Regular.woff') format('woff');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
}